{% embed '_modal_layout.html.twig' with {
    id: 'invite-member-modal',
    title: 'Inviter un membre dans #' ~ activeChannel.name,
    content_style: 'max-width: 480px !important;'
} %}
    {% block modal_body %}
        <div id="invite-modal-body">
            {% include 'dashboard/_invite_modal_list.html.twig' with {'activeChannel': activeChannel, 'usersToInvite': usersToInvite} %}
        </div>
    {% endblock %}
{% endembed %}
