<div class="chat-skeleton">
    <!-- Header Skeleton -->
    <div class="skeleton-header-wrapper">
        <div class="skeleton-avatar skeleton-shimmer"></div>
        <div class="skeleton-header-info">
            <div class="skeleton-bar title skeleton-shimmer"></div>
            <div class="skeleton-bar subtitle skeleton-shimmer"></div>
        </div>
    </div>
    
    <!-- Messages Skeleton -->
    <div class="skeleton-feed">
        <div class="skeleton-item">
            <div class="skeleton-avatar skeleton-shimmer"></div>
            <div class="skeleton-message-content">
                <div class="skeleton-bar name skeleton-shimmer"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 85%;"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 50%;"></div>
            </div>
        </div>
        <div class="skeleton-item reply">
            <div class="skeleton-avatar skeleton-shimmer"></div>
            <div class="skeleton-message-content">
                <div class="skeleton-bar name skeleton-shimmer"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 70%;"></div>
            </div>
        </div>
        <div class="skeleton-item">
            <div class="skeleton-avatar skeleton-shimmer"></div>
            <div class="skeleton-message-content">
                <div class="skeleton-bar name skeleton-shimmer"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 90%;"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 75%;"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 40%;"></div>
            </div>
        </div>
        <div class="skeleton-item reply">
            <div class="skeleton-avatar skeleton-shimmer"></div>
            <div class="skeleton-message-content">
                <div class="skeleton-bar name skeleton-shimmer"></div>
                <div class="skeleton-bar text skeleton-shimmer" style="width: 60%;"></div>
            </div>
        </div>
    </div>

    <!-- Input Skeleton -->
    <div class="skeleton-input-wrapper">
        <div class="skeleton-bar input-box skeleton-shimmer"></div>
    </div>
</div>
