{# Remplacement OOB pour ajouter la question et la réponse de robot roquette à la fin du live-feed #}
<div hx-swap-oob="beforeend:#live-feed">
    {% if question is defined and question is not empty %}
        {% include 'dashboard/_feed_item.html.twig' with {
            'message': '/me a demandé : "' ~ question ~ '"',
            'author': app.user,
            'timestamp': timestamp,
            'messageObject': null
        } %}
    {% endif %}
    <div id="{{ helpMessageId }}">
        {% include 'dashboard/_feed_item.html.twig' with {
            'message': answer|default('En attente de l\'Assistant Roquette... ⏳'),
            'user': 'Assistant Roquette',
            'timestamp': timestamp,
            'messageObject': null
        } %}
    </div>
    <div id="feed-empty-state" hx-swap-oob="delete" style="display:none"></div>
</div>
