<div id="{{ helpMessageId }}" hx-swap-oob="true" data-channel-slug="{{ channelSlug }}">
    {% include 'dashboard/_feed_item.html.twig' with {
        'message': html,
        'user': 'Assistant Roquette',
        'timestamp': timestamp,
        'messageObject': null,
        'is_html': true
    } %}
</div>
