<div class="attachment-preview image-preview-container">
    <img src="{{ url|e('html_attr') }}"
         alt="Image"
         class="preview-image"
         onclick="openExternalImageLightbox(this.src)"
         loading="lazy">
</div>
