<div class="sidebar-header-row">
    <button id="btn-reorder-done" class="reorder-done-btn"
            onclick="document.getElementById('btn-edit-order-trigger').dispatchEvent(new MouseEvent('click', { bubbles: true }));">
        ✔️ {{ 'Terminer'|trans }}
    </button>
</div>
