<div style="display:none;" hx-trigger="sse:personal_notification"></div>
<div style="display:none;" hx-trigger="sse:channel_notification"></div>
<div style="display:none;" hx-trigger="sse:user_typing"></div>
<div style="display:none;" hx-trigger="sse:user_status_changed"></div>
<div style="display:none;" hx-trigger="sse:help_stream_update"></div>
<div style="display:none;" hx-trigger="sse:invitation_received"></div>
<div style="display:none;" hx-trigger="sse:channel_deleted"></div>
