<div class="subchannel-parent-header">
    <div class="subchannel-parent-header-label">
        <a href="{{ path('app_channel', {slug: parentMessage.channel.slug}) }}" class="subchannel-parent-back-btn">
            <span class="back-icon">←</span>
            <span class="back-text">{{ 'Retour au canal parent'|trans }}</span>
            <span class="parent-channel-name">#{{ parentMessage.channel.name }}</span>
        </a>
    </div>
    <div class="subchannel-parent-message{{ activeChannel.isTodoList() ? ' subchannel-parent-compact' : '' }}">
        {% include 'dashboard/_feed_item.html.twig' with {
            'messageObject': parentMessage
        } %}
    </div>
</div>
