<option value="">Tous les utilisateurs</option>
{% for user in users %}
    <option value="{{ user.username }}">@{{ user.username }} ({{ user.displayName|default(user.username) }})</option>
{% endfor %}
